@page "/boxes/add"
@page "/boxes/add/{Id:int}"
@attribute [Authorize]

@using flytt2021.Data.Services
@using flytt2021.Data.Entities
@using flytt2021.Pages.Boxes.Components

@inject MovingboxService MovingboxService
@inject NavigationManager NavigationManager

<h1>Flyttkartong</h1>

@if (existingMovingboxes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="editContext" OnValidSubmit="SaveBox">  
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Contents" class="control-label">Innehåll</label>
                    <textarea form="Contents" class="form-control" style="height:200px" @bind="@newBox.Contents"></textarea>
                </div>
                <div class="form-group">
                    <label for="Marking" class="control-label">Lådans utseende</label>
                    <input form="Marking" class="form-control" @bind="@newBox.Marking" />
                </div>
                <div class="form-group">
                    <label for="Destination" class="control-label">Destination</label>
                    <input form="Destination" class="form-control" @bind="@newBox.Destination" />
                </div>

                <div class="form-group">
                    <label for="floor" class="control-label">Våning</label>
                    <select form="floor" @bind="@newBox.DestinationFloorId" class="form-control">
                        @if (destinationFloors != null)
                        {
                            @foreach (var floor in destinationFloors)
                            {
                                <option value="@floor.DestinationFloorId">@floor.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="floor" class="control-label">Ägare av lådan</label>
                    <select form="floor" @bind="@newBox.BoxOwnerId" class="form-control">
                        @if (boxOwners != null)
                        {
                            @foreach (var owner in boxOwners)
                            {
                                <option value="@owner.Id">@owner.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="floor" class="control-label">Packare</label>
                    <select form="floor" @bind="@newBox.PackerId" class="form-control">
                        @if (packers != null)
                        {
                            @foreach (var packer in packers)
                            {
                                <option value="@packer.Id">@packer.Name</option>
                            }
                        }
                    </select>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Spara" />
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Rensa formuläret" />
                </div>
            </div>
        </div>

    </EditForm>

}

@code {
    [Parameter]
    public int? Id { get; set; }

    private IEnumerable<Movingbox> existingMovingboxes;
    private IEnumerable<BoxOwner> boxOwners;
    private IEnumerable<Packer> packers;
    private IEnumerable<DestinationFloor> destinationFloors;
    private Movingbox newBox = new Movingbox();

    EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        existingMovingboxes = await MovingboxService.GetMovingboxesAsync();
        if (Id != null)
        {
            newBox = existingMovingboxes.FirstOrDefault(b => b.MovingboxId == Id);
        }
        packers = MovingboxService.GetPackers();
        boxOwners = MovingboxService.GetBoxOwners();
        destinationFloors = MovingboxService.GetDestinationFloors();

        editContext = new EditContext(newBox);
    }

    protected async void SaveBox()
    {
        var messageStore = new ValidationMessageStore(editContext);
        //if (newBox.PackerId == null)
        //{
        //    messageStore.Add(editContext.Field("Packer"), "Välj en packare");
        //    editContext.NotifyValidationStateChanged();
        //}
        //if (newBox.BoxOwnerId == null)
        //{
        //    messageStore.Add(editContext.Field("BoxOwner"), "Välj en lådägare");
        //    editContext.NotifyValidationStateChanged();
        //}
        //if (newBox.DestinationFloorId == null)
        //{
        //    messageStore.Add(editContext.Field("DestinationFloor"), "Välj en våning");
        //    editContext.NotifyValidationStateChanged();
        //}
        if (!editContext.Validate()) return;

        newBox.MoveId = 1;
        var newid = await MovingboxService.SaveMovingboxAsync(newBox);

        if (newid > 0)
            NavigationManager.NavigateTo("/boxes/added/" + newid);
    }
    protected void ResetValidation(ChangeEventArgs e)
    {
        editContext = new EditContext(newBox);
    }
    protected void Cancel()
    {
        newBox = new Movingbox();
    }
}
