@page "/boxes/list"
@attribute [Authorize]


@using flytt2021.Data.Services
@using flytt2021.Data.Entities
@using Microsoft.AspNetCore.Identity;

@inject MovingboxService MovingboxService
@inject UserService UserService

<h1>Flyttkartonger</h1>

@if (movingboxes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Märkning/Utseende</th>
                <th>Innehåll</th>
                <th>Destination</th>
                <th>Våning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var box in movingboxes)
            {
                <tr>
                    <td><a href="/boxes/add/@box.Id">@box.Id</a></td>
                    <td>@box.Marking</td>
                    <td>@box.Contents</td>
                    <td>@box.Destination</td>
                    @switch (@box.DestinationFloor)
                    {
                        case Floor.Upper:
                            <td>Övervåning</td>
                            break;
                        case Floor.Middle:
                            <td>Övervåning</td>
                            break;
                        case Floor.Basement:
                            <td>Övervåning</td>
                            break;
                        default:
                            <td>Oklart</td>
                            break;
                    }

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Movingbox> movingboxes;
    private IEnumerable<IdentityUser> users;

    protected override async Task OnInitializedAsync()
    {
        movingboxes = await MovingboxService.GetMovingboxesAsync();
        users = UserService.GetAllUsers();
    }
}
